<ion-content>
  <div class="item-header ion-padding">
    <div class="div-btn-confirm">
      <img src="./assets/img/logo.png" alt="">
      <ion-button fill="clear" (click)="close()">Cerrar</ion-button>
    </div>
    <div class="background-item" lines="none">
      <div class="avatar-name">
        <app-iniciales color="orange" background="white" [text]="_authSv.getCurrentUser()?.user?.name" width="40px"
          height="40px" *ngIf="!cargando">
        </app-iniciales>
        <ion-label class="ion-label">
          {{_authSv.getCurrentUser()?.user?.name}}
        </ion-label>
      </div>
      <div class="event-active ">
        <ion-label>
          <ion-icon name="calendar-outline"></ion-icon>
          {{event?.name}}
        </ion-label>
        <div class="active">

        </div>
      </div>
    </div>
  </div>

  <ion-list>
    <ion-item lines="none" (click)="goToProfile();">
      <ion-icon name="person-outline" slot="start"></ion-icon>
      <ion-button fill="clear" class="btn">Perfil</ion-button>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
    <ion-item lines="none" (click)="logout();">
      <ion-icon name="exit-outline" slot="start"></ion-icon>
      <ion-button fill="clear" class="btn">Cerrar sesión</ion-button>
      <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>