<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="back()"> <ion-icon name="chevron-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      Ventas
    </ion-title>
    <ion-buttons slot="end">
      <ion-button fill="clear">
        <ion-button (click)="openFilters()" class="default-btn"><ion-icon
            name="options-outline"></ion-icon></ion-button>

      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher class="ion-margin-top" slot="fixed" pullFactor="0.5" pullMin="100" pullMax="200"
    (ionRefresh)="doRefresh($event)">
    <ion-refresher-content refreshingText="" refreshingSpinner="circular">
    </ion-refresher-content>
  </ion-refresher>
  <form [formGroup]="form">
    <ion-item class="ion-margin">
      <ion-icon name="search-outline" slot="start"></ion-icon>
      <ion-label position="floating" class="label_input">Nombre</ion-label>
      <ion-input type="text" class="" formControlName="name" (keyup)="filter($event)"></ion-input>
    </ion-item>
  </form>
  <ion-virtual-scroll [items]="sales" approxItemHeight="320px" *ngIf="!cargando">
    <ion-item *virtualItem="let sale" (click)="detailSale(sale)">
      <div class="position">
        <div class="badge orange">{{sale?.quantity}}</div>
        <app-iniciales color="orange" [paid]="sale?.paid" background="#ffffff" [text]="sale?.name + ' ' + sale?.surname"
          width="40px" height="40px" *ngIf="!cargando">
        </app-iniciales>
      </div>
      <ion-label>
        {{sale?.name + " " + sale?.surname}}
      </ion-label>
      <ion-badge color="success" class="badge-color">{{sale?.total == 0 ? 'GIFT' : sale.total | currency}}</ion-badge>
    </ion-item>
  </ion-virtual-scroll>
  <div *ngFor="let sale of numbers">
    <ion-item *ngIf="cargando">
      <div class="position">
        <ion-skeleton-text [animated]="true" style="width: 50px;height: 50px;border-radius:50%;margin-right: 10px;"
          *ngIf="cargando"></ion-skeleton-text>
      </div>
      <ion-skeleton-text class="user-name skeleton" [animated]="true" *ngIf="cargando"
        style="width:300px;height:25px;"></ion-skeleton-text>
    </ion-item>

  </div>
</ion-content>