<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="landing">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="events" class="event-tab">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Eventos</ion-label>
    </ion-tab-button>

    <ion-tab-button class="scanner-btn" (click)="scanQR()">
      <ion-icon name="qr-code-outline"></ion-icon>
    </ion-tab-button>

    <ion-tab-button tab="landing" class="sales-tab">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Ventas</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="openModal()">
      <ion-icon name="list-outline"></ion-icon>
      <ion-label>Más</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>