.scanner-btn {
    // border: 1px solid;
    border-radius: 50%;
    height: 70px !important;
    // --background: orange;
    --position: absolute;
    --width: 70px;
    z-index: 105 !important;

    ion-icon {
        font-size: 40px;
    }

    // box-shadow: 10px 10px 29px 1px rgba(230, 152, 18, 1);
}

ion-tab-bar {
    z-index: 1 !important;
    ;
}

.event-tab {
    margin-right: 20px;
}

.sales-tab {
    margin-left: 20px;
}