ion-header {
    border-bottom: 1px solid #ccc;

    ion-toolbar {
        ion-title {
            text-align: center;
            margin-right: 50px
        }
    }
}

.card-event {
    margin-top: 20px;
    border-radius: 25px;
    height: 20vh;
    width: 100%;

    ion-card-title {
        font-size: 2vh;
        color: white
    }

    .description-event {
        // font-size: 1vh;
        color: white;
    }
}

.label {
    width: 0;
    height: 0;
    position: absolute;
    border-top: 35px tomato solid;
    border-left: 35px tomato solid;
    border-right: 35px transparent solid;
    border-bottom: 35px transparent solid;
    color: #fff;
    z-index: 1;
    top: -70px;
    margin-left: -25px;
    border-top-left-radius: 15px;
}

.active {
    border-top: 35px #5cb359d9 solid !important;
    border-left: 35px #5cb359d9 solid !important;
}

.inactive {
    border-top: 35px #bd5b4a solid !important;
    border-left: 35px #bd5b4a solid !important;
}